@{
    ViewData["Title"] = "Student Page";
}


<h1>Student</h1>


<form asp-controller="Home" asp-action="logout" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
    
</form>
